*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border-width: 0px;
}

.content {
    background-color: rgb(253, 216, 170);
    padding: 64px 64px;
    width: 80%;
    margin: 24px auto;
    border-radius: 8px;
    border-style: solid;
    border-color:rgb(255, 183, 142);
    border-width: 5px;
}

.content.recipe {
    margin-top: 40px;
}

h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 6px;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    border-style: solid;
    border-color:rgb(255, 183, 142);
    border-width: 5px;
}

ul, ol {
    margin-left: 16px;
}

li {
    margin-bottom: 4px;
}